body {
    background-color: azure;
    padding: 2% ;
}

article {
    color: burlywood;
}

header {
    color: $primary-color;
}

h2 {
    a {
        color: $link-color;
        &:hover {
            color:$link-hover;
        }
    
     }

}

.container {
    background-color: $secondary-color;
    width: 100%;
    height: 1000px;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around; 
    align-items: flex-start;
    padding: 2% ;

    @media (min-width: 600px) {
        background-color:$background-color;
        align-items: center;
        height: 500px;
    }
    @media (min-width: 800px) {
        justify-content: space-evenly; 
    }
}

.item {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: darkgoldenrod;
    // flex-shrink: 1 ;
}

.first {
    //flex: 2;
    order: 2;
    background-color: $primary-color;

    
}

.third {
    //flex: 3;
    order: 2;
}



//[class*="col-"] {
//    width: 100%;
//}


@media (min-width: 600px) {
    background-color: red;
    font-size: 2em;
}

@media (min-width: 800px) {
    
}