html {
    height:100%;
    box-sizing: border-box; 
}

body {
    height: 100%;
    background-color: $background-color;
    padding: 2% ;
    font-family: $first-font;
}

article {
    color: burlywood;
}

header {
    color: $primary-color;
    display:flex;
    flex-flow: row wrap;
    height: 30vh;
    //backgound: url(../img/example.img) top center no-repeat fixed ;
    //background-size: cover;
    img {
        object-fit: contain;
        -webkit-animation:wiggle .75s cubic-bezier(1, 0.03, 1, 1);
        -moz-animation:wiggle .75s cubic-bezier(1, 0.03, 1, 1);
        animation:wiggle .75s cubic-bezier(1, 0.03, 1, 1);
    }
    h1 {
        font-weight: 400;
    }
    nav {
        .bar{
            .nav-box {
                background-color: $media-background-color;
                display:flex;
                flex-flow: row wrap;
                align-items: flex-start;
                height:3em;
                width:200px;
            } 
        }
    }
}

h2 {
    a {
        color: $link-color;
        &:hover {
            color:$link-hover;
        }
        &:visited {
            color:$link-visited;
        }
    
     }

}

.container {
    background-color: $secondary-color;
    width: 90vw;
    height: 90vw;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    flex-flow: row wrap;
    //justify-content: space-around; 
    align-items: flex-start;
    padding: 2% ;
    font-family: $second-font;

    @media (min-width: 600px) {
        background-color:$media-background-color;
        align-items: center;
        height: 500px;
    }
    @media (min-width: 800px) {
        justify-content: space-evenly; 
    }
}

.new-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    width: 20vw;
    height: 20vw;
    min-height: 250px;
    min-width: 200px;
    padding: 2em;
    margin: 2em;
    border: 1px solid $border-color;
    background-color: $item-background-color;
    @media (max-width: 1100px) {
        align-items: center;
        height: 40vh;
    }
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    &:hover {
        opacity: .75;
        width: 22vw;
    }
    // flex-shrink: 1 ;
    //figure {
    //     img {
    //         height:150px;
    //         border-radius:5px;
    //     }    
    // }
}

.first {
    //flex: 2;
    order: 2;
    background-color: $primary-color;

    
}

.third {
    //flex: 3;
    order: 2;
}



//[class*="col-"] {
//    width: 100%;
//}


@media (min-width: 600px) {
    background-color: red;
    font-size: 2em;
}

@media (min-width: 800px) {
    
}

@-moz-keyframes wiggle { 
    25% { -moz-transform: rotate(20deg); } 
    75% { -moz-transform: rotate(-20deg); } 
    100% { -moz-transform: rotate(0deg); } 
}

@-webkit-keyframes wiggle { 
    25% { -webkit-transform: rotate(20deg); } 
    75% { -webkit-transform: rotate(-20deg); } 
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes wiggle { 
    25% { -webkit-transform: rotate(20deg); transform:rotate(20deg); } 
    75% { -webkit-transform: rotate(-20deg); transform:rotate(-20deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}